<div class="row h100P" ng-controller="TreeController">
    <div class="col-md-3 h100P tree-scroll">
        <div id="tree"></div>
    </div>
    <div class="col-md-9 h100P">
        <a class="btn btn-default f12px" ui-sref=""><i class="glyphicon glyphicon-plus"></i> 新增</a>
        <a class="btn btn-default f12px" ui-sref=""><i class="glyphicon glyphicon-pencil"></i> 修改</a>
        <a class="btn btn-default f12px" ui-sref=""><i class="glyphicon glyphicon-trash"></i> 删除</a>
        <a class="btn btn-default f12px" ui-sref=""><i class="glyphicon glyphicon-ok"></i> 确认</a>
        <a class="btn btn-default f12px" ui-sref=""><i class="glyphicon glyphicon-remove"></i> 取消</a>
        <div class="panel panel-default mT10">
            <div class="panel-heading">
                <h3 class="panel-title f14px fB">类别信息</h3>
            </div>
            <div class="panel-body">
                <form action="" class="form-horizontal">
                    <div class="form-group col-md-6">
                        <label for="typeNo" class="col-md-3 control-label fBN padding0">类别编号</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="typeNo" name="typeNo" disabled>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="typeName" class="col-md-3 control-label fBN padding0">类别名称</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="typeName" name="typeName" disabled>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>